	<!-- Google Analytics Content Experiment code -->
<script>function utmx_section(){}function utmx(){}(function(){var
k='82946200-2',d=document,l=d.location,c=d.cookie;
if(l.search.indexOf('utm_expid='+k)>0)return;
function f(n){if(c){var i=c.indexOf(n+'=');if(i>-1){var j=c.
indexOf(';',i);return escape(c.substring(i+n.length+1,j<0?c.
length:j))}}}var x=f('__utmx'),xx=f('__utmxx'),h=l.hash;d.write(
'<sc'+'ript src="'+'http'+(l.protocol=='https:'?'s://ssl':
'://www')+'.google-analytics.com/ga_exp.js?'+'utmxkey='+k+
'&utmx='+(x?x:'')+'&utmxx='+(xx?xx:'')+'&utmxtime='+new Date().
valueOf()+(h?'&utmxhash='+escape(h.substr(1)):'')+
'" type="text/javascript" charset="utf-8"><\/sc'+'ript>')})();
</script><script>utmx('url','A/B');</script>
<!-- End of Google Analytics Content Experiment code -->


<input type="hidden" id="movie_id" value="{{movie_id}}">
	<div class="detail" style="padding-bottom:5px;">
		<h4 style="text-align:center">{{movie_title}}</h4>
		{{#if explain}}{{{explain}}}{{/if}}
	</div>
<iframe width="100%" src="//www.youtube.com/embed/{{youtube_id}}?rel=0&autoplay=1" frameborder="0" allowfullscreen></iframe>

<div class="container" style="text-align:center;">
<!-- 	<button class="btn btn-default done-watching" id="1">★</button>
	<button class="btn btn-default done-watching" id="2">★★</button>
	<button class="btn btn-default done-watching" id="3">★★★</button>
	<button class="btn btn-default done-watching" id="4">★★★★</button>
	<button class="btn btn-default done-watching" id="5">★★★★★</button> -->
	<h5>Click a star to rate!</h5>
	<div class="row" style="font-size:25px">
		<div class="col-xs-1"></div>
		<div class="col-xs-2"><a href="/rate?movie_id={{movie_id}}&rating=1">★</a></div>
		<div class="col-xs-2"><a href="/rate?movie_id={{movie_id}}&rating=2">★</a></div>
		<div class="col-xs-2"><a href="/rate?movie_id={{movie_id}}&rating=3">★</a></div>
		<div class="col-xs-2"><a href="/rate?movie_id={{movie_id}}&rating=4">★</a></div>
		<div class="col-xs-2"><a href="/rate?movie_id={{movie_id}}&rating=5">★</a></div>
		<div class="col-xs-1"></div>
	</div>

	<div class="row">
		<div class="col-xs-1"></div>
		<div class="col-xs-2">1</div>
		<div class="col-xs-2">2</div>
		<div class="col-xs-2">3</div>
		<div class="col-xs-2">4</div>
		<div class="col-xs-2">5</div>
		<div class="col-xs-1"></div>
	</div>
</div>

<div class="container" style="text-align:center; padding-top:25px;">
	<button class="btn btn-default redirect-movie" id="7">Let's watch it!</button>
	<button class="btn btn-default done-watching" id="0">Skip</button>
	<button class="btn btn-default see-ratings" id="0">Ratings</button>
	<h5>Current Genres: {{#if genres}}{{genres}}{{else}}None{{/if}} <a href="/profile">(Edit)</a></h5>
</div>

<div class="container">

	<div class="detail">
		<h4>Actors</h4>
		<p id="actors"></p>
	</div>

	<div class="detail">
		<h4>Year</h4>
		<p id="year"></p>
	</div>

	<div class="detail">
		<h4>Director</h4>
		<p id="director"></p>
	</div>

	<div class="detail">
		<h4>Genres</h4>
		<p id="genres"></p>
	</div>

	<div class = "detail">
		<h4> </h4>
	</div>
	<script src="js/clip.js"></script>
	<script src="http://omdbapi.com/?i=tt{{movie_id}}&callback=movielookup"></script>