<div style="text-align:center">
	<p>You just gave <strong>{{title}}</strong> a {{rating}}/5 rating! Here comes another!</p>
	<img src="{{img_url}}" style="width:50%"/>
</div>

<script>
	setTimeout(function() {
		window.location = {{#if redirect}}"{{redirect}}"{{else}}"/clip"{{/if}};
	}, 1500);
</script>