<div class="container">
	<div class="detail">
		<h2>Current Ratings</h2>
	</div>
{{#each film_ratings}}
	<div class="row">
		<div class="col-xs-4">
			<img style="width:100%; padding-top:5px; padding-bottom:5px;" src="{{img_url}}"/>
		</div>
		<div class="col-xs-8">
			<a href="/clip?film_id={{film_id}}"><h4>{{title}}</h4></a>
			<h5>Your Rating: {{rating}} / 5 <a href="/rate">(Clear)</a></h5>
			<h5>IMDb Rating: {{imdb_rating}}</h5>
		</div>
	</div>
{{else}}
	<p>You don't have any ratings yet! <a href="/clip">Get started.</a></p>
{{/each}}
</div>
</div>