	<div class="detail">
		<h1>Current Ratings</h1>
	</div>
{{#each ratings}}
	<div class="container">
		<h3><a href="/clip?film_id={{film_id}}">{{title}}</a></h3>
		<button class="btn btn-default re-rate" id="1.{{film_id}}">{{star 1 film_id}}</button>
		<button class="btn btn-default re-rate" id="2.{{film_id}}">{{star 2 film_id}}</button>
		<button class="btn btn-default re-rate" id="3.{{film_id}}">{{star 3 film_id}}</button>
		<button class="btn btn-default re-rate" id="4.{{film_id}}">{{star 4 film_id}}</button>
		<button class="btn btn-default re-rate" id="5.{{film_id}}">{{star 5 film_id}}</button>
		<br>
		<button class="btn btn-default re-rate" id="500.{{film_id}}">Clear</button>
	</div>
{{else}}
	<p>You don't have any ratings yet! <a href="/clip">Get started.</a></p>
{{/each}}
</div>